body {
  font-family: Spartan;
}
.display-1 {
  font-family: 'Spartan', sans-serif;
  font-size: 3.75rem;
  line-height: 1.25;
  letter-spacing: -0.07em;
}
.display-1 > .mbr-iconfont {
  font-size: 4.6875rem;
}
.display-2 {
  font-family: 'Spartan', sans-serif;
  font-size: 3.3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.125rem;
}
.display-4 {
  font-family: 'Spartan', sans-serif;
  font-size: 0.875rem;
  letter-spacing: -0.04em;
}
.display-4 > .mbr-iconfont {
  font-size: 1.09375rem;
}
.display-5 {
  font-family: 'Spartan', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05em;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.625rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.64rem;
    font-size: calc( 1.805rem + (3.3 - 1.805) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.805rem + (3.3 - 1.805) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 30px;
}
.bg-primary {
  background-color: #deec6e !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #74f6c3 !important;
}
.bg-warning {
  background-color: #b3ec6e !important;
}
.bg-danger {
  background-color: #434343 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #deec6e !important;
  border-color: #deec6e !important;
  color: #49500b !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #030400 !important;
  background-color: #cde221 !important;
  border-color: #cde221 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #49500b !important;
  background-color: #cde221 !important;
  border-color: #cde221 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3c68 !important;
  border-color: #ff3c68 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e40034 !important;
  border-color: #e40034 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e40034 !important;
  border-color: #e40034 !important;
}
.btn-info,
.btn-info:active {
  background-color: #74f6c3 !important;
  border-color: #74f6c3 !important;
  color: #076440 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #01130c !important;
  background-color: #23f1a0 !important;
  border-color: #23f1a0 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #076440 !important;
  background-color: #23f1a0 !important;
  border-color: #23f1a0 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #b3ec6e !important;
  border-color: #b3ec6e !important;
  color: #31500b !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #8be221 !important;
  border-color: #8be221 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #31500b !important;
  background-color: #8be221 !important;
  border-color: #8be221 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #434343 !important;
  border-color: #434343 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #181818 !important;
  border-color: #181818 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #181818 !important;
  border-color: #181818 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #deec6e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #cde221 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #49500b !important;
  background-color: #deec6e !important;
  border-color: #deec6e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff3c68;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #e40034 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3c68 !important;
  border-color: #ff3c68 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #74f6c3;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #23f1a0 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #076440 !important;
  background-color: #74f6c3 !important;
  border-color: #74f6c3 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b3ec6e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #8be221 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #31500b !important;
  background-color: #b3ec6e !important;
  border-color: #b3ec6e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #434343;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #181818 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #434343 !important;
  border-color: #434343 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #deec6e !important;
}
.text-secondary {
  color: #ff3c68 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #74f6c3 !important;
}
.text-warning {
  color: #b3ec6e !important;
}
.text-danger {
  color: #434343 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #c3d81c !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #d50030 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #14f09a !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #83d81c !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #101010 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #deec6e;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #74f6c3;
}
.alert-warning {
  background-color: #b3ec6e;
}
.alert-danger {
  background-color: #434343;
}
.mbr-gallery-filter li.active .btn {
  background-color: #deec6e;
  border-color: #deec6e;
  color: #5d670d;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #deec6e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b6b6b6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Spartan', sans-serif;
  font-size: 0.875rem;
  letter-spacing: -0.04em;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.09375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #deec6e !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Spartan', sans-serif;
  font-size: 0.875rem;
  letter-spacing: -0.04em;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.09375rem;
}
blockquote {
  border-color: #deec6e;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #deec6e;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #deec6e;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #deec6e;
  border-bottom-color: #deec6e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #deec6e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3c68 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23deec6e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t3PhvukuJW {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-t3PhvukuJW .image-1 {
  position: relative;
}
@media (max-width: 992px) {
  .cid-t3PhvukuJW .image-1 {
    margin-bottom: 2rem;
  }
}
.cid-t3PhvukuJW .image-1 img {
  width: 220px;
  height: 310px;
  object-fit: cover;
}
.cid-t3PhvukuJW .image-1 .image-absolute {
  width: 235px;
  height: 290px;
  object-fit: cover;
  position: absolute;
  left: 20%;
  top: 33%;
}
@media (max-width: 1050px) {
  .cid-t3PhvukuJW .image-1 .image-absolute {
    display: none;
  }
}
.cid-t3PhvukuJW .image-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .cid-t3PhvukuJW .image-2 {
    margin-top: 2rem;
  }
}
.cid-t3PhvukuJW .image-2 img {
  width: 245px;
  height: 320px;
  object-fit: cover;
  z-index: 2;
}
.cid-t3PhvukuJW .image-2 .image-absolute {
  width: 190px;
  height: 260px;
  object-fit: cover;
  margin-top: -45%;
  margin-right: 35%;
  z-index: 1;
}
@media (max-width: 1050px) {
  .cid-t3PhvukuJW .image-2 .image-absolute {
    display: none;
  }
}
.cid-t3PhvukuJW .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t3PhvukuJW .text-wrapper {
  width: 80%;
}
.cid-t3PhvukuJW .mbr-section-title {
  margin-bottom: 46px;
  color: #484a4f;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-t3PhvukuJW .mbr-section-title {
    margin-bottom: 2rem;
  }
}
.cid-t3PhvukuJW .mbr-text {
  margin-bottom: 0;
  opacity: .7;
  color: #484a4f;
  text-align: center;
}
.cid-t3PhvukuJW .btn {
  margin-top: 20px;
  height: 55px;
  min-width: 230px;
  box-shadow: none;
  font-size: 25px;
  padding: 10px 10px 5px 10px;
  font-weight: 500;
}
.cid-t3PhvukuJW .btn:hover {
  box-shadow: none;
}
.cid-tke9Gp4niF {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f0f0f5;
}
.cid-tke9Gp4niF .row {
  justify-content: center;
}
.cid-tke9Gp4niF .card {
  padding: 0 15px;
  height: 453px;
  position: relative;
  margin-bottom: 30px;
}
.cid-tke9Gp4niF .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  padding: 0 15px;
}
.cid-tke9Gp4niF .card .mbr-number {
  opacity: 1;
  transform: translate(0, 0);
}
.cid-tke9Gp4niF .card .mbr-text {
  opacity: 1;
}
.cid-tke9Gp4niF .card .card-text {
  transform: translate(0, 0);
}
.cid-tke9Gp4niF .card:hover .card-wrapper,
.cid-tke9Gp4niF .card:active .card-wrapper,
.cid-tke9Gp4niF .card:focus .card-wrapper {
  background: #ff3c68;
}
.cid-tke9Gp4niF .item-wrapper {
  height: 100%;
}
.cid-tke9Gp4niF .card-link {
  position: relative;
  height: 100%;
  z-index: 1;
  transition: all .4s ease;
  pointer-events: none;
}
.cid-tke9Gp4niF .card-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.3em;
  transition: all .4s ease;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cid-tke9Gp4niF .card-wrapper {
    padding: 1.8em;
  }
}
.cid-tke9Gp4niF .mbr-number {
  margin: 0;
  opacity: 0;
  transition: all .4s ease;
  transform: translate(0, -30%);
  pointer-events: visible;
  color: #fff;
}
.cid-tke9Gp4niF .mbr-title {
  margin-bottom: 1rem;
  pointer-events: visible;
  color: #ffffff;
}
.cid-tke9Gp4niF .mbr-text {
  margin: 0;
  opacity: 0;
  transition: all .4s ease;
  pointer-events: visible;
  color: #ffffff;
}
.cid-tke9Gp4niF .card-text {
  transition: all .4s ease;
}
.cid-toDtSrf7Ug {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-toDtSrf7Ug .form-group {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-toDtSrf7Ug .card {
  background-color: white;
  padding: 2rem;
}
.cid-toDtSrf7Ug .input-group-btn {
  display: block;
}
.cid-toDtSrf7Ug .form-control {
  background: none;
  border-radius: 6px !important;
}
.cid-toDtSrf7Ug .form-control-label {
  font-weight: 700;
}
.cid-toDtSrf7Ug .mbr-section-subtitle {
  color: #656565;
  text-align: center;
}
.cid-toDtSrf7Ug .title2 {
  color: #656565;
  text-align: center;
}
.cid-toDtSrf7Ug .form-title {
  color: #656565;
}
@media (max-width: 576px) {
  .cid-toDtSrf7Ug .col-sm-12 {
    margin: 1rem;
  }
  .cid-toDtSrf7Ug .card {
    padding: 1rem;
  }
}
.cid-tke9Z9JwGa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9fc;
}
.cid-tke9Z9JwGa .mbr-list {
  display: inline-flex;
}
@media (max-width: 768px) {
  .cid-tke9Z9JwGa .mbr-list {
    display: block;
    width: auto;
  }
}
.cid-tke9Z9JwGa .mbr-list ul {
  margin: 0 72px 0 0;
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
}
.cid-tke9Z9JwGa .mbr-list ul li {
  margin-bottom: 16px;
  display: flex;
  list-style: none;
  position: relative;
}
.cid-tke9Z9JwGa .mbr-list ul li:before {
  margin-top: -3px;
  margin-right: 12px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ff4712;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  content: "✓";
}
.cid-tke9Z9JwGa .mbr-section-subtitle {
  margin-bottom: 27px;
  letter-spacing: .13em;
  color: #FF4712;
}
.cid-tke9Z9JwGa .mbr-section-title {
  margin-bottom: 13px;
  color: #080808;
}
.cid-tke9Z9JwGa .mbr-text {
  margin-bottom: 32px;
  color: #65676c;
}
.cid-tke9Z9JwGa .image-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tke9Z9JwGa .image-wrapper {
    margin-top: 23px;
  }
}
.cid-tke9Z9JwGa .image-wrapper img:first-child {
  width: 79%;
  max-width: 520px;
  object-fit: cover;
}
.cid-tke9Z9JwGa .image-wrapper .image-absolute {
  position: absolute;
  top: 48%;
  left: 0;
  max-width: 354px;
  max-height: 283px;
}
@media (max-width: 768px) {
  .cid-tke9Z9JwGa .image-wrapper .image-absolute {
    max-width: 200px;
    max-height: 250px;
  }
}
.cid-tke9Z9JwGa .image-wrapper .image-logo {
  position: absolute;
  top: 24%;
  left: 57%;
  width: 80px;
  height: 80px;
}
.cid-tke9Z9JwGa .mbr-section-title,
.cid-tke9Z9JwGa .list-wrapper {
  text-align: left;
}
.cid-t3PhIe3o4B {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f0f0f5;
}
.cid-t3PhIe3o4B .mbr-section-head {
  padding: 0 1rem;
}
.cid-t3PhIe3o4B img,
.cid-t3PhIe3o4B .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-t3PhIe3o4B .item:focus,
.cid-t3PhIe3o4B span:focus {
  outline: none;
}
.cid-t3PhIe3o4B .item-wrapper {
  position: relative;
}
.cid-t3PhIe3o4B .slide-content {
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-t3PhIe3o4B .slide-content:hover .item-content {
  background: #ff4712;
}
.cid-t3PhIe3o4B .slide-content:hover .mbr-text {
  color: #ffffff;
}
.cid-t3PhIe3o4B .slide-content:hover .item-content span {
  color: #ffffff;
}
.cid-t3PhIe3o4B .item-content {
  background: #ffffff;
  padding: 50px 40px 58px;
  transition: all .4s ease;
}
@media (max-width: 992px) {
  .cid-t3PhIe3o4B .item-content {
    padding: 35px 25px;
  }
}
@media (max-width: 425px) {
  .cid-t3PhIe3o4B .item-content {
    padding: 30px 25px 32px;
  }
}
.cid-t3PhIe3o4B .item-content span {
  font-size: 35px;
  margin: 0 auto;
  color: #ff4712;
  transition: all .4s ease;
}
.cid-t3PhIe3o4B .item-content .mbr-text {
  margin: 18px 0 0 0;
}
.cid-t3PhIe3o4B .item-person {
  margin-top: 40px;
}
.cid-t3PhIe3o4B .item-person img {
  height: 78px;
  width: 78px;
  object-fit: cover;
  margin: 0 auto 28px;
  border-radius: 50%;
}
.cid-t3PhIe3o4B .item-person .item-title {
  margin: 0;
}
.cid-t3PhIe3o4B .item-person .item-subtitle {
  margin: 6px 0 0 0;
}
.cid-t3PhIe3o4B .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-t3PhIe3o4B .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-t3PhIe3o4B .embla__button--next,
.cid-t3PhIe3o4B .embla__button--prev {
  display: flex;
}
.cid-t3PhIe3o4B .embla__button {
  bottom: -10%;
  width: 38px;
  height: 38px;
  margin-top: -1.5rem;
  font-size: 14px;
  background-color: transparent;
  color: #ff4712;
  border: 2px solid #ff4712;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-t3PhIe3o4B .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-t3PhIe3o4B .embla__button:hover {
  background: transparent;
  opacity: .7;
}
.cid-t3PhIe3o4B .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t3PhIe3o4B .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-t3PhIe3o4B .embla__button {
    top: auto;
  }
}
.cid-t3PhIe3o4B .embla {
  position: relative;
  width: 100%;
}
.cid-t3PhIe3o4B .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-t3PhIe3o4B .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-t3PhIe3o4B .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-t3PhIe3o4B .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-t3PhIe3o4B .mbr-section-title {
  margin-bottom: 45px;
  color: #20232a;
  text-align: center;
}
.cid-t3PhIe3o4B .mbr-section-subtitle {
  margin-bottom: 22px;
  letter-spacing: .13em;
  color: #FF4712;
  text-align: center;
}
.cid-t3PhIe3o4B .mbr-text {
  color: #20232a;
  text-align: center;
}
.cid-t3PhIe3o4B .item-title {
  color: #20232a;
  text-align: center;
}
.cid-t3PhIe3o4B .item-subtitle {
  color: #adaeb1;
  text-align: center;
}
.cid-tkk9DHsE6v {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.cid-tkk9DHsE6v img,
.cid-tkk9DHsE6v .item-img {
  vertical-align: middle;
}
.cid-tkk9DHsE6v .item:focus,
.cid-tkk9DHsE6v span:focus {
  outline: none;
}
.cid-tkk9DHsE6v .item-img {
  height: 15rem;
}
.cid-tkk9DHsE6v .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tkk9DHsE6v .item-content,
.cid-tkk9DHsE6v .item-footer {
  background: #ffffff;
}
.cid-tkk9DHsE6v .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tkk9DHsE6v .item {
  padding: 0;
  margin: 0;
}
.cid-tkk9DHsE6v .features-image {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
@media (min-width: 992px) {
  .cid-tkk9DHsE6v .features-image {
    width: 20% !important;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.cid-tkk9DHsE6v .features-image-wrap {
  flex-wrap: wrap;
}
.cid-tkk9DHsE6v .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 992px) {
  .cid-tkk9DHsE6v .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tkk9DHsE6v .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tkk9DHsE6v .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tkk9DHsE6v .mbr-section-title b:last-child,
.cid-tkk9DHsE6v .mbr-section-title strong:last-child {
  color: #f23801;
}
.cid-tkk9DHsE6v .container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.cid-t3PiYeiBgz {
  background-color: #deec6e;
}
.cid-t3PiYeiBgz .content {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.cid-t3PiYeiBgz .content img {
  width: 43px;
  height: 43px;
  object-fit: cover;
  margin-right: 15px;
}
.cid-t3PiYeiBgz .content p {
  margin: 0;
}
.cid-t3PiYeiBgz .mbr-text {
  color: #434343;
}
.cid-tke9WQZsS8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f0f0f5;
}
.cid-tke9WQZsS8 .content {
  display: flex;
  align-items: center;
}
.cid-tke9WQZsS8 .content-main {
  margin-left: 84px;
}
@media (max-width: 992px) {
  .cid-tke9WQZsS8 .content-main {
    margin-left: 0;
  }
}
.cid-tke9WQZsS8 .mbr-section-subtitle {
  margin-bottom: 27px;
  letter-spacing: .13em;
  color: #FF4712;
}
@media (max-width: 992px) {
  .cid-tke9WQZsS8 .mbr-section-subtitle {
    margin-bottom: 24px;
  }
}
.cid-tke9WQZsS8 .mbr-section-title {
  margin-bottom: 13px;
  color: #080808;
}
.cid-tke9WQZsS8 .mbr-text {
  margin-bottom: 38px;
  color: #65676c;
  text-align: left;
}
@media (max-width: 992px) {
  .cid-tke9WQZsS8 .mbr-text {
    margin-bottom: 25px;
  }
}
.cid-tke9WQZsS8 .btn {
  height: 55px;
  min-width: 230px;
  box-shadow: none;
  margin-top: 0;
  font-size: 25px;
  padding: 10px 10px 5px 10px;
  font-weight: 500;
}
.cid-tke9WQZsS8 .btn:hover {
  box-shadow: none;
}
.cid-tke9WQZsS8 .image-wrapper {
  position: relative;
}
@media (max-width: 992px) {
  .cid-tke9WQZsS8 .image-wrapper {
    margin-bottom: 61px;
  }
}
.cid-tke9WQZsS8 .image-wrapper .image-tablet {
  width: 490px;
  height: 370px;
  padding: 1rem;
  border: 6px solid #1f242e;
  border-radius: 5%;
  background: #ffffff;
  margin-left: 30px;
  box-shadow: 0px 0px 20px -5px #65676c;
}
@media (max-width: 1200px) {
  .cid-tke9WQZsS8 .image-wrapper .image-tablet {
    margin-left: 0;
  }
}
.cid-tke9WQZsS8 .image-wrapper .image-tablet img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.cid-tke9WQZsS8 .image-wrapper .image-phone {
  position: absolute;
  bottom: -6%;
  right: 4%;
  width: 170px;
  height: 343px;
  padding: 1rem;
  border: 4px solid #1f242e;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 20px -5px #65676c;
}
@media (max-width: 1400px) {
  .cid-tke9WQZsS8 .image-wrapper .image-phone {
    right: -12%;
  }
}
@media (max-width: 1200px) {
  .cid-tke9WQZsS8 .image-wrapper .image-phone {
    right: -18%;
  }
}
@media (max-width: 992px) {
  .cid-tke9WQZsS8 .image-wrapper .image-phone {
    right: 6rem;
  }
}
.cid-tke9WQZsS8 .image-wrapper .image-phone img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
